<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="" method="post" class="editform">
        <section>
            <label for="author">Enter Author Name:</label>
            <input class="input" type="text" id="author" placeholder="Author" name="author">
            <br>
            <label for="title">Enter Book Title:</label>
            <input class="input" type="text" id="title" placeholder="Title" name="title">
        </section>
        <button class="edit edit-small">Submit</button>
    </form>
</body>

</html>