<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="?_method=PATCH" method="post" class="editform">
        <section>
            <label for="author">Edit Author Name:</label>
            <input type="text" id="author" placeholder="Author" name="author" value="<%= books[0].author %>">
            <br>
            <label for="title">Edit Book Title:</label>
            <input type="text" id="title" placeholder="Title" name="title" value="<%= books[0].title %>">
        </section>
        <button class="edit edit-small">Update</button>
    </form>
</body>

</html>